.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 6px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    width: 50%;
    align-items: center;
}

.link {
    all: unset;
    color: rgb(107, 114, 128);
    font-family: "Inter-med";
    font-size: 1.5em;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-align: center;
    margin-top: .5em;
}

.link:hover {
    cursor: pointer;
    color: rgb(28, 29, 33);
}

.h1{
    font-size: 2em;
    color: rgb(107, 114, 128);
    font-family: "Inter-med";
}

@media screen and (max-width:768px) {
    .container{
        margin: 0px;
        width: 100%;
    }
    
}