.links {
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  justify-content: space-between;
  margin-bottom: 1em;
}

.logo {
  margin-left: 10%;
}

.link {
  margin: 1em;
}