@font-face {
  font-family: 'Inter-med';
  src: url(../fonts/Inter/static/Inter-Medium.ttf) format('opentype');
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  justify-content: center;
  margin-bottom: 1em;
}

.logo {
  margin-left: 10%;
}

.link {
  margin: 1em;
}
.a{
  all:unset;
  color: rgb(107,114,128);
  font-family: "Inter-med";
  font-size: 1.5em;
  /* text-decoration: underline;
  text-underline-offset: 2px; */
}
.a:hover{
  cursor: pointer;
  color: rgb(28, 29, 33);
}
@media screen and (max-width:768px) {
  .a {
  font-size: 1em;
  }
}