.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.projectOne,
.projectTwo,
.projectThree,
.projectFour,
.projectFive {
    display: flex;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 6px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inter';
}

.a {
    all: unset;
    color: rgb(107, 114, 128);
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-align: center;
    margin-top: .5em;
}

.a:hover {
    cursor: pointer;
    color: rgb(28, 29, 33);
}

.p {
    color: rgb(107, 114, 128);
    line-height: 1.5em;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
}
.video{
    width: 99.9%;
}
.nflVideo{
    transform: scale(0.90);
    width: 100%;
    object-position: top;
}
.inlineLink {
    all: unset;
    cursor: pointer;
    color: rgb(107, 114, 128);
    line-height: 1em;
    font-weight: 700;
}

.inlineLink:hover {
    color: rgb(28, 29, 33);

}

.tweetWrapper {
    width: 400px !important;
    overflow: hidden;
    zoom: 80%;
    border-radius: 10px;
}

.projectTwo {
    display: flex;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tweetDesc {
    color: rgb(107, 114, 128);
    line-height: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
}
  
.projectFour{
    padding: 10px;
}
.codeWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.code{
    width: 100% !important;
    height: 400px !important;
}
@media screen and (max-width:768px) {
    .projectOne,
    .projectTwo,
    .projectThree,
    .projectFour,
    .projectFive {
        width: 100%;
        padding: 0px    ;
    }
    .examplePic{
        transform: scale(.90);
    }
    .nflVideoWrapper{
        height: 300px;
    }
}
    