@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/static/Inter-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Inter-med';
  src: url(../fonts/Inter/static/Inter-Medium.ttf) format('opentype');
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

.conversation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6em;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.text {
  margin-bottom: 1em;
  width: 100%;
  height: 3em;
}

.inputForm {
  display: flex;
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 10px;
  align-items: center;
  background-color: white;
}

.inputForm:focus-visible,
.inputForm:focus-visible,
.inputForm:focus-within {
  border: 2px solid #4caf50;
}

.inputTextArea {
  padding: 10px;
  height: 20px;
  border: none;
  width: 100%;
  padding-right: 2.5rem;
  outline: none;
  resize: none;
  font-family: 'Inter';
}

.noInputBtn {
  cursor: not-allowed;
  border: none;
  display: flex;
  margin: 10px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  background-color: white;

}

.subBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  margin: 10px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.profilePic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 1em;
}
.userPic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 1em;
  padding: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom: 0;
  margin: 1em;
  width: 100%;
}

.bot {
  background-color: #f2f2f2;
}

.bot,
.user {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;

}

.message {
  display: flex;
  align-items: center;
  padding: 1em;
  margin-bottom: .5em;
  width: 100%;
  position: relative;
  justify-content: center;
  word-wrap: break-word;
}


.exampleBtnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 3em;
}

.exampleBtn {
  color: rgb(107,114,128);
  width: 80%;
  text-align: start;
  padding: 0.5em;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Inter';
  padding: 1em;
}
.exampleBtn:hover{
  border: 1px solid rgb(141, 141, 141);
  background-color: rgb(242, 242, 242);
}

.messageContent{
  font-family: 'Inter';
  color: rgb(107,114,128);

}

.outerStartHidden {
  display: none;
}

.outerStart {
  display: block;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 6px;
  width: 50%;
}

.innerStart {
  padding: 2em;
}

.innerStart p{
  color: rgb(107,114,128);
  line-height: 1em;
  font-family: 'Inter-med';
  margin-top: .5em;
  margin-bottom: .5em;

}

.innerStart h3{
  font-family: 'Inter-med';
}

.upperAbout{
  width: 100%;
}


@media screen and (max-width:768px) {
  .main {
    overflow: hidden;
  }
  .exampleBtnContainer{
    display: flex;
    flex-direction: column;
  }
  .exampleBtn:nth-last-child(-n+3){
    display: none;
  }
  .outerStart {
    width: 90%;
  }
  .inputForm {
    width: 90%;
    margin-bottom: 0px;
    
  }

  .inputContainer {
    width: 100%;
  }
  .bot,
  .user {
  width: 100%;
  margin-left: 1em;
}
}